<div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div>
        <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Latitud</label>
        <input name="latitud" type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
    </div>
    <div>
        <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Longitud</label> 
        <input name="longitud" type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
    </div>
    <div>
        <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Altitud</label>
        <input name="altitud" type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
    </div>
    <div>
        <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Región</label>
        <input name="region" type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
    </div>
</div>