<div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    <div>
        <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Temperatura</label>
        <input name="temperatura" value="0" type="number" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" requireed>
    </div>
    <div>
        <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Salinidad</label>
        <input name="salinidad" value="0" type="number" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" requireed>
    </div>
    <div>
        <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Ph</label>
        <input name="ph" value="0" type="number" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" requireed>
    </div>
    <div>
        <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Oxigeno</label>
        <input name="oxigeno" value="0" type="number" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" requireed>
    </div>
    <div class="mb-1">
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 ">Hábitat</label>
        <select name="idhabitat" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " requireed>
          <option selected>Seleccione</option>
         {% for item in habitat %}
          <option value="{{ item.id }}">{{ item.nombre }}</option>
         {% endfor %}
        </select>
    </div>

    <div class="mb-1">
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 ">Tipo Hábitat</label>
        <select name="idtipohabitat" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "requireed>
          <option selected>Seleccione</option>
          {% for item in tipo_habitat %}
          <option value="{{ item.id }}">{{ item.tipo }}</option>
          {% endfor %}
        </select>
    </div>

    <div class="mb-1">
        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 ">Especie</label>
        <select name="idespecie" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " requireed>
          <option selected>Seleccione</option>
          {% for item in especies_list %}
          <option value="{{ item.id }}">{{ item.nombrecientifico }}</option>
          {% endfor %}
        </select>
    </div>

</div>





