{% extends 'layout.html' %}

{% block titulo %}
    Agregar muestra
{% endblock  %}



{% block seccion %}
    Agregar Muestra
{% endblock seccion %}

{% block bread %}
<li class="inline-flex items-center">
    <a href="/muestras" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 ">
      <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
      </svg>
      Muestras
    </a>
  </li>
  <li>
    <div class="flex items-center">
      <svg class="w-3 h-3 text-gray-400 mx-1 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
      </svg>
      <a  class="ms-1 text-sm font-medium text-blue-700 hover:text-blue-600 md:ms-2">Agregar Muestra</a>
    </div>
  </li>
{% endblock bread %}

{% block contenido %}
<!-- <div class="flex items-center justify-center mb-2">
    <h3 class="text-xl font-semibold border-b-2">Características del bivalvo</h3>
</div> -->

<form method="POST"  enctype="multipart/form-data">
  {% csrf_token %}

  <div id="accordion-color" data-accordion="collapse" data-active-classes="bg-gray-200 text-black">
    <h2 id="accordion-color-heading-1">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text- bg-white text-gray-600 border border-b-0 border-gray-200 rounded-t-xl  gap-3" data-accordion-target="#accordion-color-body-1" aria-expanded="true" aria-controls="accordion-color-body-1">
        <span>Características de los bivalvos</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
      <div class="p-5 border border-b-0 border-gray-200 bg-white">
       {% include './forms/caracteristicas-form.html' %}
    </div>
    </div>
    <h2 id="accordion-color-heading-2">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text- bg-white text-gray-500 border border-b-0 border-gray-200  gap-3" data-accordion-target="#accordion-color-body-2" aria-expanded="true" aria-controls="accordion-color-body-2">
            <span>Variables ambientales</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
    </h2>
    <div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
      <div class="p-5 border border-b-0 border-gray-200 bg-white">
        {% include './forms/variables-ambientales-form.html' %}
      </div>
    </div>

    <h2 id="accordion-color-heading-3">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text- bg-white text-gray-500 border border-b-0 border-gray-200  gap-3" data-accordion-target="#accordion-color-body-3" aria-expanded="true" aria-controls="accordion-color-body-3">
            <span>Datos de ubicación</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
    </h2>
    <div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
      <div class="p-5 border border-b-0 border-gray-200 bg-white">
        {% include './forms/ubicacion-form.html' %}
      </div>
    </div>

    <h2 id="accordion-color-heading-4">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text- bg-white text-gray-500 border border-b-0 border-gray-200  gap-3" data-accordion-target="#accordion-color-body-4" aria-expanded="true" aria-controls="accordion-color-body-4">
            <span>Datos sobre la marea</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
    </h2>
    <div id="accordion-color-body-4" class="hidden" aria-labelledby="accordion-color-heading-4">
      <div class="p-5 border border-b-0 border-gray-200 bg-white">
        {% include './forms/marea-form.html' %}
      </div>
    </div>


  </div>
  <div class="flex justify-end w-full mt-4">
    <a href="/mostrar" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Cancelar</a>
 <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Guardar</button>
  
  </div>
</form>


{% endblock contenido %}