{% extends 'vistas/editar-muestra.html' %}

{% block form_edit %}
<form action="" class="bg-white p-5 rounded-md" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex justify-center w-full mb-2">
        <h1 class="text-lg font-semibold text-gray-500">Datos sobre la marea</h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
        <div>
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Latitud</label>
            <input value="{{ ubicacion.latitud }}" name="latitud" type="number" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
        </div>
        <div>
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Longitud</label> 
            <input  value="{{ ubicacion.longitud }}" name="longitud" type="number" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
        </div>
        <div>
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Altitud</label>
            <input  value="{{ ubicacion.altitud }}" name="altitud" type="number" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
        </div>
        <div>
            <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 ">Región</label>
            <input  value="{{ ubicacion.region }}" name="region" type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
        </div>
    </div>
    
    <div class="flex justify-end w-full mt-4">
        <a href="/muestras/detalles/{{ muestra.codigomuestra }}" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Cancelar</a>
     <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Guardar</button>
      
      </div>
</form>


{% endblock form_edit %}